<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Times Table:</h1>
{%for x in range(1, 11): %}
<p>{{x}} x {{number}} = {{number * x}}</p>
{%endfor%}

<br>

<table>
    <tr>
        <th>Student_Name</th>
        <th>Student_Age</th>
    </tr>
    <tr>
        <th>Naeemah</th>
        <th>25</th>
    </tr>
    <tr>
        <th>Godwin</th>
        <th>26</th>
    </tr>
    <tr>
        <th>Thapelo</th>
        <th>47</th>
    </tr>
    <tr>
        <th>Jason</th>
        <th>23</th>
    </tr>
</table>
</body>
</html>